@model ArtiLib.Entites.StatutRendezVous

@{
    ViewBag.Title = "ArtiLib - Détails du statut rendez-vous";
}

<h2>Détails du statut rendez-vous</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Libelle)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour à la liste des statuts rendez-vous", "Index")
</p>